.cover__title {
  z-index: 2;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  /* margin: 245px auto 0; */
  margin: 0 auto;
  max-width: 560px;
}

@media (max-width: 1279px) {
  .cover__title {
    margin: 195px auto 0;
  }
}

@media (max-width: 1023px) {
  .cover__title {
    margin: 115px auto 0;
  }
}

@media (max-width: 767px) {
  .cover__title {
    text-align: center;
    font-size: 32px;
    line-height: 35px;
    margin: 33px auto 0;
    max-width: 254px;
  }
}
